* {
    color: white;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    font-family: "Roboto Flex", sans-serif;
}

.app {
    display: grid;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: grid;
    height: 100%;
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
